body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

.value {
    vertical-align: central;
    white-space: nowrap;
    padding: 0px;
    box-shadow:0 0 0 #8F8F8F inset;
    border-radius:3px 3px 3px 3px;
}


.label {
    text-align: right;
    vertical-align: central;
    horizontal-align:middle;
    margin-top: 10px; 
    width: 100px;
    white-space: nowrap;
    padding-right: 5px;
    height: 25px;
    font: bold;
    
}
